= form_for(@point, :html => { :enctype => "multipart/form-data" }) do |f| 
	- if @point.errors.any? 
		#error_explanation
			%h2
				= pluralize(@point.errors.count, "error")	
				prohibited this point from being saved:

			%ul
				- @point.errors.full_messages.each do |msg| 
					%li
						= msg 
			
	.field
		= f.label :object_type, t('admin.objectType')
		%br/
		= f.select :type, object_type_names.invert
	
	.field
		= f.label :name, t('admin.name')
		%br/
		= f.text_field :name 
	
	.field
		= f.label :description, t('admin.description')
		%br/
		= f.text_area :description, :size => '26x6'
	
	.field
		= f.label :lat, t('admin.lat')
		%br/
		= f.text_field :lat 
	
	.field
		= f.label :lon, t('admin.lon')
		%br/
		= f.text_field :lon 
	
	.field
		= f.label :image, t('admin.image')
		%br/
		= file_field_tag :image
	
	.actions
		= submit_tag ((@point.id.nil?) ? t('admin.createPoint') : t('admin.updatePoint'))
