= form_for(@point, :html => { :enctype => "multipart/form-data" }) do |f| 
	- if @point.errors.any? 
		#error_explanation
			%h2
				= pluralize(@point.errors.count, "error")	
				prohibited this point from being saved:

			%ul
				- @point.errors.full_messages.each do |msg| 
					%li
						= msg 
			
	.field
		= f.label :type
		%br/
		= f.select :type, object_type_names.invert
	
	.field
		= f.label :name 
		%br/
		= f.text_field :name 
	
	.field
		= f.label :description 
		%br/
		= f.text_area :description, :size => '26x6'
	
	.field
		= f.label :lat 
		%br/
		= f.text_field :lat 
	
	.field
		= f.label :lon 
		%br/
		= f.text_field :lon 
	
	.field
		= f.label :image 
		%br/
		= file_field_tag :image
	
	.actions
		= f.submit
