:javascript
	$(function() {
		// var pos = new CM.LatLng(#{@point.lat}, #{@point.lon});
		var updateMarker = function() {
			if (!currMarker)
				return;

			var pos = currMarker.getLatLng();
			$('#point_lat').val(pos.lat());
			$('#point_lon').val(pos.lng());
		};

		//marker = new CM.Marker(pos, { title: '#{@point.name}', icon: '#{@point.image}', draggable: true, draggedEvent: updateMarker });
		//marker.bindInfoWindow('<h3>#{@point.name}</h3>');
		//map.addOverlay(marker);
		
		if (!currMarker)
			currMarker = createMarker(#{@point.lat}, #{@point.lon}, {'addOverlay': true, 'draggable': true, 'moveEvent': updateMarker});
	});


%strong= t('admin.editingPoint')

= render 'form'
= link_to t('admin.show'), @point
|
= link_to t('admin.back'), points_path
