= link_to 'New Point', new_point_path 

%br/

- @points.each do |point|
	= link_to 'Show', point 
	= link_to 'Edit', edit_point_path(point) 
	= link_to 'Destroy', point, :confirm => 'Are you sure?', :method => :delete 
	= point.name 
	%br/