<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2" xmlns:gx="http://www.google.com/kml/ext/2.2" xmlns:kml="http://www.opengis.net/kml/2.2" xmlns:atom="http://www.w3.org/2005/Atom">
<Document>
	<name>Points</name>
	<% @points.each do |point| %>
	<Placemark>
		<name><%= point.name.html_safe %></name>
		<description><![CDATA[
			<div class="poi">
				<% if not point.image.blank? %>
				<img src="<%= point.image %>" title="<%= point.name %>" alt="<%= point.name %>" class="align-right frame" />
				<% end %>
				<%= point.description.html_safe %>
			</div>
		]]></description>
		<Point>
			<coordinates><%= point.lon%>,<%= point.lat%></coordinates>
		</Point>
	</Placemark>
	<% end %>
</Document>
</kml>