<p id="notice"><%= notice %></p>

<p>
  <b>Object type:</b>
  <%= @point.object_type %>
</p>

<p>
  <b>Name:</b>
  <%= @point.name %>
</p>

<p>
  <b>Description:</b>
  <%= @point.description %>
</p>

<p>
  <b>Lat:</b>
  <%= @point.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @point.lon %>
</p>

<p>
  <b>Image:</b>
  <%= @point.image %>
</p>


<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
