:javascript
	$(function() {
		var marker = createMarker(#{@point.lat}, #{@point.lon}, {'addOverlay': true, 'draggable': false});
	});

%p{ :id => "notice" }
	= notice

- if @point.object_type
	%p
		%strong
			= t('admin.objectType')
		= object_type_names[@point.object_type]

%p
	%strong
		= t('admin.name')
	= @point.name.html_safe


%p
	%strong
		= t('admin.description')
	= @point.description.html_safe

%p
	%strong
		= t('admin.lat')
	= @point.lat

%p
	%strong
		= t('admin.lon')
	= @point.lon 

- if not @point.image.blank?
	%p
		%strong
			= t('admin.image')
		= image_tag @point.image

= link_to t('admin.edit'), edit_point_path(@point)
|
= link_to t('admin.back'), points_path 
