- @locale = I18n::locale
:javascript
	$(function() {
		$("#clearRoute, #printRoute").button().hide();
		$(".routeType").buttonset();
		$("#addWaypoint").button();
		
		$(":radio[checked], :checkbox[checked]").removeAttr("checked");
		$("#car").attr("checked", "checked");
		
		$.datepicker.setDefaults( $.datepicker.regional[ "" ] );
		$( "#leaveDate" ).datepicker( $.datepicker.regional[ "#{@locale}" ] );
	});

#tabsRouting
	%label{ :for => "leaveDate" }= t('panel.leaveDate')
	%br/
	%input#leaveDate{ :type => "text" }
	
	.markerList

	%br/
	
	.routeControls
		%input#addWaypoint{ :type => "checkbox", :onClick => "return false;" }
			%label{ :for => "addWaypoint", :style => "width: 90%", :title => "#{ t "panel.add_point" }" }
				= image_tag "controls/add_waypoint.png"

		%br/
		%br/

		.routeType
			%input#car{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('car/shortest');" }
				%label{ :for => "car", :title => "#{ t "panel.car_fastest_route" }" }
					= image_tag "controls/car.png"

			%input#truck{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('car/shortest');" }
				%label{ :for => "truck", :title => "#{ t "panel.car_shortest_route" }" }
					= image_tag "controls/truck.png"
			
		%br/
			
		%a#printRoute{ :name => "printRoute", :onClick => "printRoute();", :title => "#{ t "anel.print_route" }" }
			= image_tag "controls/print_icon.png"
			
		%a#clearRoute{ :name => "clearRoute", :style => "cursor: pointer;", :onClick => "clearRoute();", :title => "#{ t "anel.clear_route" }" }
			= image_tag "controls/clear.png"
			
		%br/
	%br/
		
	#routingPanel
