:javascript
	$(function() {
		$("input:checkbox").click(function() {
			$(this).toggleClass('checked');
		});
	});

.logo
	%a{ :href => "/", :title => "Euro 2012 Ukraine-Poland" }
		=image_tag "euro2012-logo.jpg", :alt => "Euro 2012 Ukraine-Poland"

.menu
	%ul
		%li.objects
			%ul
				%li
					= image_tag '/images/objects/gas.gif', { :title => "#{t('objects.gas')}", :onClick => "switchLayer('gas'); $(this).toggleClass('checked');" }
						
				%li
					= image_tag '/images/objects/car_service.gif', { :onClick => "switchLayer('carService'); $(this).toggleClass('checked');", :title => "#{t('objects.carService')}" }

				%li
					= image_tag '/images/objects/hotel.gif', { :onClick => "switchLayer('hotel'); $(this).toggleClass('checked');", :title => "#{t('objects.hotel')}" }

				%li
					= image_tag '/images/objects/monument.gif', { :onClick => "switchLayer('monument'); $(this).toggleClass('checked');", :title => "#{t('objects.monument')}" }
					
				%li
					= image_tag '/images/objects/damage_to_roads.gif', { :onClick => "switchLayer('roadCondition'); $(this).toggleClass('checked');", :title => "#{t('objects.roadCondition')}" }

				%li
					= image_tag '/images/controls/weather.png', { :onClick => "switchLayer('weather'); $(this).toggleClass('checked');", :title => "#{t('objects.weather')}" }
					
				%li
					= image_tag '/images/objects/camera.png', { :onclick => "switchLayer('webCams'); $(this).toggleClass('checked');", :title => "#{t('objects.webCam')}" }

		%li.search
			%input#searchQuery{ :type => "edit", :name => "query" }
			%input#searchControl{ :type => "button", :value => "#{t('panel.search')}", :onClick => "geoSearch();" }
			
		%li.lang
			= image_tag "flags/#{ I18n.locale }.png", :style => "margin-right: 5px;"
		
			%ul
				-I18n::available_locales.each do |l|
					-if I18n.locale != l
						%li
							%a{ :href => "?locale=#{ l }" }
								=image_tag "flags/#{ l }.png"

.content
	.panel
		= render :partial => 'home/tabRoute'
		
	.map
		#map
