.header
	.logo
		%a{ :href => "#", :title => "Euro 2012 Ukraine-Poland" }
			=image_tag "euro2012-logo.jpg", :alt => "Euro 2012 Ukraine-Poland"
	.stadiums
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Kyiv stadium', 15)" }
				=image_tag "kiev.jpg", :alt => ""
			%a{ :class => "link", :onClick => "mapToPoint('Kyiv stadium', 15)" }
				=image_tag "uk-kiev.gif", :alt => ""
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Kharkiv stadium', 15)" }
				=image_tag "kharkiv.jpg", :alt => ""

			%a{ :class => "link", :onClick => "mapToPoint('Kharkiv stadium', 15)" }
				=image_tag "uk-kharkiv.gif", :alt => ""
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Donetsk stadium', 15)" }
				=image_tag "donetsk.jpg", :alt => ""
			%a{ :class => "link", :onClick => "mapToPoint('Donetsk stadium', 15)" }
				=image_tag "uk-donetsk.gif", :alt => ""
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Lviv stadium', 15)" }
				=image_tag "lviv.jpg", :alt => ""
			%a{ :class => "link", :onClick => "mapToPoint('Lviv stadium', 15)" }
				=image_tag "uk-lviv.gif", :alt => ""

	.language_icons
		%a{ :href => "?locale=en" }
			=image_tag "flags/en.png"
		%a{ :href => "?locale=uk" }
			=image_tag "flags/uk.png"
		%a{ :href => "?locale=ru" }
			=image_tag "flags/ru.png"

.main
	:javascript
		$(function() {
			$("#tabs").tabs();

			$("#addWaypoint, #weatherControl").button();
			$(".routeType").buttonset();
		});

	.panel
		#tabs
			%ul
				%li
					%a{ :href => "#tabsRouting" }= t('panel.routes')

				%li
					%a{ :href => "#tabsSearch" }= t('panel.search')

				%li
					%a{ :href => "#tabsObjects" }= t('panel.objects')

			#tabsRouting
				.markerList

				%br/
				
				.routeControls
					%input#addWaypoint{ :type => "checkbox", :onClick => "return false;" }
						%label{ :for => "addWaypoint", :style => "width: 90%" }
							= image_tag "controls/add_waypoint.png"

					%br/
					%br/

					.routeType
						%input#car{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('car');" }
							%label{ :for => "car" }
								= image_tag "controls/car.png"

						%input#foot{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('foot');" }
							%label{ :for => "foot" }
								= image_tag "controls/walking.png"

						%input#bicycle{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('bicycle');" }
							%label{ :for => "bicycle" }
								= image_tag "controls/cycling.png"
								
					%br/
					%br/
					
					%input#weatherControl{ :type => "checkbox", :name => "showWeather", :onClick => "toggleWeather();" }
						%label{ :for => "weatherControl" }
							= image_tag "controls/weather.png"

				%br/
				
				#routingPanel

			#tabsSearch
				%form
					%input{ :type => "edit", :name => "query" }
					%input{ :type => "submit", :name => "search", :value => "Search" }

			#tabsObjects
				%form
					%input{ :type => "checkbox", :name => "poi" }
					%label{ :for => "poi" } POI

		%br/

		#panelQuickLinks{ :class => "ui-widget-content ui-corner-all" }
			%h2{ :class => "ui-widget-header ui-corner-all" } Quick links
			%p
				%a{ :class => "link", :onClick => "mapToPoint('Kyiv stadium', 15)", :href => "" }
					= t('place.kyiv')
			%p
				%a{ :class => "link", :onClick => "mapToPoint('Kharkiv stadium', 15)", :href => "" }
					= t('place.kharkiv')
			%p
				%a{ :class => "link", :onClick => "mapToPoint('Donetsk stadium', 15)", :href => "" }
					= t('place.donetsk')
			%p
				%a{ :class => "link", :onClick => "mapToPoint('Lviv stadium', 15)", :href => "" }
					= t('place.lviv')
	.content
		#map.olMap
