<h1>Listing pois</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pois.each do |poi| %>
  <tr>
    <td><%= poi.name %></td>
    <td><%= poi.description %></td>
    <td><%= poi.lat %></td>
    <td><%= poi.lon %></td>
    <td><%= poi.image %></td>
    <td><%= link_to 'Show', poi %></td>
    <td><%= link_to 'Edit', edit_poi_path(poi) %></td>
    <td><%= link_to 'Destroy', poi, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poi', new_poi_path %>
