<!DOCTYPE html>
<html>
  <head>
    <title>Autodor</title>
  
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "https://www.google.com/jsapi?key=ABQIAAAAoboZS-nzwx1YaGkU-ISITBSZbqWu_yCLftQ5Cx-x_HqOIUCHaBQUYqtrk_058i-_cvilWaf0yJw2jA" %>
    <%= javascript_include_tag "http://tile.cloudmade.com/wml/latest/web-maps-lite.js" %>
    <%= javascript_include_tag "google" %>
    <%= csrf_meta_tag %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
