<!DOCTYPE html>
<html>
  <head>
    <title>Autodor</title>
  
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'sunny/sunny' %>
    <%= stylesheet_link_tag 'contextmenu/jquery-contextmenu' %>
    <%= javascript_include_tag "http://tile.cloudmade.com/wml/latest/web-maps-lite.js" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "jquery-contextmenu" %>
    <%= javascript_include_tag "application.js.erb" %>
    <%= csrf_meta_tag %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
