<!DOCTYPE html>
%html
	%head
		%title Autodor
	
		= stylesheet_link_tag 'moar'
		= stylesheet_link_tag 'sunny/sunny'
		= stylesheet_link_tag 'contextmenu/jquery-contextmenu'

		= javascript_include_tag 'jquery'
		= javascript_include_tag 'jquery-ui'
		= javascript_include_tag 'http://tile.cloudmade.com/wml/latest/web-maps-lite.js'
		= javascript_include_tag 'http://api.webcams.travel/jsapi?devid=0be425afeaead9f0893c0bae527be9a0'
		= javascript_include_tag 'jquery-contextmenu'
		= javascript_include_tag 'cities'
		= javascript_include_tag 'application'
		= javascript_include_tag 'patchy'
		= javascript_include_tag 'http://gostats.com/js/counter.js'
		
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-22303667-2']);
			_gaq.push(['_trackPageview']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
		:javascript
			_gos='gostats.com';_goa=745684;
			_got=5;_goi=1;_gol='visitor statistics';_GoStatsRun();
		
		= csrf_meta_tag
	
	%body
	
		= yield

		%a{ :target => "_blank", :title => "visitor statistics", :href => "http://gostats.com" }
			= image_tag "http://gostats.com/bin/count/a_745684/t_5/i_1/counter.png", :alt => "visitor statistics", :style => "border-width:0"
